doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width,initial-scale=1')
        meta(name='x5-fullscreen', content='true')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='full-screen', content='yes')
        title #{title}
        link(href="/img/blog.ico", rel="icon", type="image/x-icon")
        link(type='text/css', href='/css/head.css', rel='stylesheet')
        for link in myStyle
            link(type='text/css', href='#{link}', rel='stylesheet')
    body !{headContent}
    for js in jsArr
        script(src='#{js}')

