mixin doc(obj)
    li
        .top
            .time #{obj.time}
            .auth 羊锡贵
        .content
            h2(onclick="location.href='/docs/#{obj.hashName}'").title #{obj.fileName}
            .text #{obj.intro}
ul.docList
    for list in docArr
        +doc(list)
