.about.other
    h1.title 关于我
    .content 我叫羊锡贵，2016年大学毕业，学的是机械工程及自动化专业，在学校期间参加过飞思卡尔智能车大赛，负责代码部分。出来工作时直接找<em>前端工程师</em>的相关工作，到现在已有两年的经验。<img src='./img/about.jpg' class='img'><br><br>我很喜欢写代码，这源于我喜欢数学。平时工作主要写<em>vue</em>和<em>node</em>，node部分实现了前端工程师有能力去完成一个完整的网站。比如这个博客就是使用<em>express</em>、<em>mongodb</em>、<em>jade</em>去完成(使用服务器渲染)。这是件令人很兴奋的事情。关于<em>mongodb</em>，我喜欢用<em>mongoose</em>，它有点像建立类一样去建立数据表，使用起来比较方便。我在工作上主要是<em>svn</em>做项目管理，自己的练习或者项目就使用<em>git</em>来做管理。我喜欢使用<em>scss</em>，因为它使用起来更加方便，也更加容易管理。

